.input {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #181B23 inset;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    input[data-autocompleted] {
        background-color: transparent !important;
    }
}
